body {
  font-family: "Roboto", sans-serif;
  background-color: #dcdcdc; }

p {
  color: #b3b3b3;
 }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.log{
  width : 30%;  
  margin-top : 4%;
  padding: 18px;
}

button{
  width : 49%
}

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.form-block {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; } }

@media (max-width: 1199.98px) {
  .content .contents, .content .bg {
    width: 100%; } }


